<header class="absolute z-20 pt-6 px-6 flex justify-between items-center w-full">
    <div class="grow basis-0">
        <a class="bg-gray-100 w-10 h-10 rounded-full flex justify-center items-center cursor-pointer" routerLink="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 text-gray-700" viewBox="0 0 512 512">
                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/>
            </svg>
        </a>
    </div>
    <div class="grow basis-0 flex justify-end">
        <a class="bg-gray-100 w-10 h-10 rounded-full flex justify-center items-center cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 text-gray-700" viewBox="0 0 448 512">
                <path d="M352 224c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96c0 4 .2 8 .7 11.9l-94.1 47C145.4 170.2 121.9 160 96 160c-53 0-96 43-96 96s43 96 96 96c25.9 0 49.4-10.2 66.6-26.9l94.1 47c-.5 3.9-.7 7.8-.7 11.9c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-25.9 0-49.4 10.2-66.6 26.9l-94.1-47c.5-3.9 .7-7.8 .7-11.9s-.2-8-.7-11.9l94.1-47C302.6 213.8 326.1 224 352 224z"/>
            </svg>
        </a>
    </div>
</header>

<section>
    <div class="w-full h-[220px] overflow-hidden bg-gray-100">
        <img class="w-full h-full object-cover" loading="lazy" src="./assets/trenzas.jpg" alt="">
    </div>
</section>

<section class="bg-white rounded-3xl w-full pt-6 relative mt-[-30px]">
    <header class="px-6">
        <h1 class="mt-4 font-semibold text-2xl text-gray-700">Lifting + Perfilado</h1>
        <h2 class="text-sm text-gray-500 pt-2">Lorem ipsum dolor sit amet consectetur.</h2>
        <hr class="my-4">
    </header>

    <div class="px-6 w-full">
        <div class="flex justify-between items-center pb-5">
            <h3 class="text-blue-500 text-xl font-semibold">{{selectedMonth + ' ' + year}}</h3>
            <div class="flex gap-5">
                <button class="w-10 h-10 flex justify-center items-center rounded-full text-blue-500" (click)="previousMonth()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5" viewBox="0 0 320 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                    </svg>
                </button>
                <button class="w-10 h-10 flex justify-center items-center rounded-full text-blue-500" (click)="nextMonth()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5 rotate-180" viewBox="0 0 320 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="w-full h-full grid grid-cols-7 grid-rows-7 text-center aspect-square items-center gap-4" id="calendar"></div>
    </div>
</section>

<app-navigation></app-navigation>